body{
    background: rgba(182,122,224,255) url("imges/background.jpg") center center no-repeat;
    background-size: cover;
    color: black;

}

#container{
    width: 400px;
    margin: 40px auto 0;
    box-sizing: border-box;
    padding: 50px;
    box-sizing: border-box;
    background: url("images/background2.jpg") top left repeat;
    box-shadow: 0 10px 15px -8px pink;
    border-radius: 5px;
    text-align: center;
    font-family: 'Shadows Into Light', sans-serif;
    font-weight: 100;
}

h1{
    
    margin-top: -10px;
    margin-bottom: 45px;
    border-bottom: solid 1px rgb(211, 181, 211); 
    box-shadow: 0  8px 10px 2px rgba(102, 51, 153, 0.493);
    font-weight:900;
}

form{
    text-align: left;
}

form label{
    display: block;
    margin: 29px 0;
    font-weight: bold;
}

form input,
form select{
    padding: 8px;
    margin: 10px 0;
}

form input[type="text"]{
    width: 90px;
}

button{
    background: rgba(223, 9, 205, 0.699);
    color: white;
    border: none;
    border-bottom: solid 2px rgba(100, 3, 100, .5);
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
}

button:hover{
    font-weight: 900;
    border-bottom: black;
}

button:active{
    position: relative;
    top: 2px;
}

#totalTip{
    font-size: 50px;
    margin-top: 40px;
}

#totalTip:before{
    content: "Tip ammount";
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup{
    font-size: 24px;
    top: -18px;
}

#totalTip small{
    font-size: 14px;
    font-weight: 900;
    display: block;
}
